<div class="row">
    <div *ngFor="let lane of LANES" class="col-md-4 col-xs-12">
        <div class="card">
            <div class="card-header">
                {{lane.title}}
                <button 
                    class="btn btn-sm pull-right"
                    type="button"
                    (click)="addTask()">
                    <i class="bi bi-plus"></i>
                </button>
            </div>
            <div class="card-body">
                <p>
                    {{lane.description}}
                </p>
            </div>
        </div>

        <div class="drop">
            <ul class="list-group task">
                <li *ngFor="let task of getTasksForLane(lane)"
                draggable="true"
                class="list-group">
                    <app-task (deleteRequest)="deleteTask($event)" (editRequest)="editTask($event)" [task]="task"></app-task>
                </li>
            </ul>
        </div>
    </div>

</div>